:root {
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--gray: rgb(180, 180, 180);
	--light-gray: rgb(245, 245, 245);
	--dark-gray: rgb(70, 70, 70);
	--gray-highlight: rgb(180, 180, 180, 0.4);
	--blue: rgb(0, 0, 255);

	--colour-black: rgb(35, 35, 35);
	--colour-raisin: rgb(55, 50, 60);
	--colour-gray: rgb(150, 150, 155);
	--colour-silver: rgb(190, 190, 190);
	--colour-platinum: rgb(230, 230, 230);

	--spacing-small: 5px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius-small: 3px;
	--border-radius-medium: 6px;
}

@font-face {
	font-family: 'SairaCondensed';
	src: url('/fonts/SairaCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Slabo';
	src: url('/fonts/Slabo27px-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}
